body {
    /*background-color: pink*/
    background-image:url("https://i.pinimg.com/736x/17/4d/88/174d883eb6e9d19307b5532e616097ab.jpg");
    font-size: 150%;
    font-family: 'Garamond', Helvetica, sans-serif; /*alterar fonte*/
    background-repeat: no-repeat; /*imagem não repete*/
    background-size: cover; /*ajuste automatico*/
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    background-color: #540b0e;
    color: white;
    padding: 20px;
    text-align: center;
}

 nav {
  background: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

nav a {
  color: #ae2012;
  text-decoration: none;
  font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

quiz-container {
    background-color: rgba(255, 255, 255, 0.9); /* fundo branco com transparência */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 90%;
}

quiz-container input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

quiz-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #540b0e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

quiz-container button:hover {
    background-color: #7b1216;
}

conteudo-central {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* para ficar logo abaixo do header */
  padding: 40px 20px;
  min-height: calc(100vh - 120px); /* ocupa o espaço visível abaixo do header */
}

surpresa-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

surpresa-container input[type="password"] {
  padding: 10px;
  font-size: 1em;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

surpresa-container button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #540b0e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

surpresa-container button:hover {
  background-color: #7b1216;
}

.i-love-you-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 90%;
    margin-top: 20px; /* Espaço acima do container */
}
ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding padrão */
}
